.hero {
    position: relative;
    min-height: 420px;
    height: 45rem;              /* altura exacta */
    background-repeat: no-repeat;
    background-size: cover;     /* se expande sin deformarse */
    background-position: center;
}


.product-card {
    background: #F5F2E5;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}


/* Contenedor del menú */
.section-nav {
    background: rgba(217, 217, 217, 0.8); /* #D9D9D9 con opacidad */
    height: 6.25rem; /* 100px */
    display: flex;
    align-items: center;
}

/* UL del menú */
.section-menu {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

/* Links */
.section-menu li a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: #06090C;
    text-decoration: none;
    position: relative;
    padding-bottom: 12px;
}

/* Subrayado activo */
.section-menu .current-menu-item a::after,
.section-menu .current_page_item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: #AC7F5E;
}
